<div class="row bg-dark">
</div>
<div class="flex-row flex-row-justify spacer-in-xl spacer-out-bottom-lg">
    <div class="flex-link spacer-in-xl">
        
    </div>
    <div class="spacer-in-bottom-none active-link flex-link spacer-in-sm font-size-md font-regular">
         Home
    </div>
    <div class="spacer-in-sm flex-link font-size-md font-regular">
        Features
    </div>
    <div class="spacer-in-sm flex-link font-size-md font-regular">
        How it Works
    </div>
    <div class="spacer-in-sm flex-link font-size-md font-regular">
       Pricing
    </div>
    <div class="spacer-in-sm flex-link font-size-md font-regular">
        Sign in
    </div>
    <div class="flex-link spacer-in-xl">
        
    </div>
</div>
<div class="flex-row flex-row-center spacer-out-bottom-md">
    <div class="heading-main bold-font">
        Supercharge Your<br>
            Outreach
    </div>
</div>
<div class="flex-row flex-row-center spacer-out-bottom-lg">
    <div class="desc font-size-md">
        Find the email address of most relevant prospects for your business and company details at scale. Get enriched
    </div>
</div>
<div class="flex-row flex-row-center spacer-in-xl">
    <div class="spacer-in-xl">
        <button class="btn-prospector btn-primary spacer-out-right-xl" routerLink="get-started">Get Started</button>
    </div>
    <div class="spacer-in-xl spacer-out-left-xl">
        <button class="btn-prospector btn-default">Use Cases</button>
    </div>
</div>