.spacer-in-xs {
    padding: 4px !important;
}
.spacer-in-sm {
    padding: 8px !important;
}
.spacer-in-lg {
    padding: 12px !important;
}
.spacer-in-xl {
    padding: 20px !important;
}
.spacer-in-bottom-none {
    padding-bottom: 0px !important; 
}
.spacer-out-bottom-md {
    margin-bottom: 25px;
}
.spacer-out-bottom-lg {
    margin-bottom: 50px;
}
.spacer-out-top-lg {
    margin-top: 60px;
}
.spacer-out-left-xl {
    margin-left: 25px;
}
.spacer-out-right-xl {
    margin-right: 25px;
}
.spacer-out-right-sm {
    margin-right: 8px;
}
.spacer-in-left-sm {
    padding-left: 5px;
}
.spacer-in-left-lg {
    padding-left: 20px;
}
.spacer-out-xl {
    margin-top: 80px;
}