<h4 mat-dialog-title>Add a Table</h4>
<form [formGroup]="segmentForm" (ngSubmit)="addNewSegment(segmentForm.value)">
    <div mat-dialog-content>
        <label>Name*</label>
        <input type="text" placeholder="Ex: Computer Softwares" class="form-control" formControlName="name"/>
        <br>
        <label>Icon</label>
        <select class="form-control" formControlName="icon">
            <option value="thumb-icon.svg">ThumbIcon</option>
            <option value="segment-icon.svg">ChickenIcon</option>
        </select>
        <br>
        <label>Color</label>
        <select class="form-control" >
            <option value="red">Red</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="pink">Pink</option>
        </select>
        <!-- <input type="color" formControlName="color" class="form-control"> -->
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-dialog-close [disabled]="segmentForm.invalid" class="spacer-out-right-sm btn-modal btn-primary"> &nbsp;&nbsp;Add &nbsp;&nbsp;</button>
        <button mat-button mat-dialog-close class=" btn-modal btn-default">Cancel</button>
    </div>
</form>