<h4 mat-dialog-title>Add a Table</h4>
<div mat-dialog-content>
    <label>Name*</label>
    <input type="text" placeholder="Ex: Computer Softwares" class="form-control"/>
    <br>
    <label>Icon</label>
    <select class="form-control">
        <option>Icon 1</option>
        <option>Icon 2</option>
        <option>Icon 3</option>
    </select>
    <label>Color</label>
    <select class="form-control">
        <option>Color 1/option>
        <option>color 2</option>
        <option>Color 3</option>
    </select>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close class="spacer-out-right-sm">Close</button>
    <button mat-button mat-dialog-close>Close</button>
</div>