<div class="row screen-height">
    <div class="col-sm-1" style="background-color: #E8E8E8;">
        <div class="flex-row flex-colum spacer-out-xl">
            <div class="spacer-in-sm">
                <img src="../../../../../assets/icons/contacts.svg" alt="" height="30px">
            </div>
            <div class="spacer-in-sm">
                <img src="../../../../../assets/icons/outbond.svg" alt="" height="30px">
            </div>
            <div class="spacer-in-sm">
                <img src="../../../../../assets/icons/messagebox.svg" alt="" height="30px">
            </div>
            <div class="spacer-in-sm">
                <img src="../../../../../assets/icons/mail.svg" alt="" height="30px">
            </div>
            <div class="spacer-in-sm">
                <img src="../../../../../assets/icons/auto.svg" alt="" height="30px">
            </div>
            <div class="spacer-in-sm">
                <img src="../../../../../assets/icons/reports.svg" alt="" height="30px">
            </div>
        </div>
        <div class="flex-row flex-justify-bottom align-center">
            <div class="spacer-in-sm">
                <img src="../../../../../assets/icons/billing.svg" alt="" height="30px">
            </div>
            <div class="spacer-in-sm">
                <img src="../../../../../assets/icons/integrations.svg" alt="" height="30px">
            </div>
            <div class="spacer-in-sm">
                <img src="../../../../../assets/icons/notifications.svg" alt="" height="30px">
            </div>
            <div class="spacer-in-sm">
                <img src="../../../../../assets/icons/profile.svg" alt="" height="35px">
            </div>
        </div>
     </div>
    <div class="col-sm-2" style="background-color: #f1f1f1; padding-left: 15px;padding-right: 15px;">
        <h3>Prospector</h3>
        <input type="text" class="form-control" placeholder="Serach for a table or Segment"/>
        <p style="color: #7e7878; margin: 8px 0px 5px 0px;font-size: 14px;">SEGMENTS</p>
        <div *ngFor="let segment of segmentList" class="segment-list">
             <span><img src="../../../../../assets/icons/segment-icon.svg" height="14px"/> &nbsp; {{segment.name}} </span>
        </div>
        <div class="spacer-out-top-lg">
            <button class="btn-prospector btn-primary btn-small" (click)="openDialog()"> + &nbsp; Add a Segment</button>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="flex-row flex-reverse">
            <div class="icon-link">
                <div class="dropdown">
                    <img src="../../../../../assets/icons/top-nav.svg"/>
                </div>
             </div>
             <img src="../../../../../assets/icons/drop-icon.svg" [matMenuTriggerFor]="menu" class="spacer-in-left-sm"/>
             <div class="icon-link">
                <div class="dropdown">
                    <img src="../../../../../assets/icons/vector.svg" alt="" [matMenuTriggerFor]="menu"/>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="gridView = false"><img src="../../../../../assets/icons/chart.svg" alt="" height="12px"> List View</button>
                        <button mat-menu-item (click)="gridView = true"><img src="../../../../../assets/icons/list-icon.svg" alt="" height="12px"> Grid View</button>
                      </mat-menu>
                </div>
             </div>
        </div>
        <mat-divider class="hr-none"></mat-divider>
        <div class="contents">
            <div class="row flex-colum">
                <div class="col-sm-12" *ngFor="let segment of segmentList">
                       <div class="flex-row">
                            <div class="spacer-in-xs">
                               <img src="../../../../../assets/icons/segment-icon.svg" alt="" height="16px" class="img-item">
                            </div>
                            <div class="spacer-in-xs">
                               {{segment.name}}
                            </div>
                            <div class="spacer-in-xs" (click)="segment.expanded = ! segment.expanded">
                               <img src="../../../../../assets/icons/drop-icon.svg" height="20px"/>
                            </div>
                       </div>
                       <div class="childrens" *ngIf="segment.expanded">
                            <div class="panel flex-row spacer-in-left-lg spacer-out-bottom-md" *ngIf="gridView">
                                <div class="panel-item" *ngFor="let child of segment.children">
                                    <div class="card">
                                        <img src="../../../../../assets/icons/plus.svg" alt="" height="12x" class="img-item">
                                    </div>
                                    <p class="text-sm">{{child.name}}</p>
                                </div>
                                <div class="panel-item">
                                    <div class="card" (click)="openTableModal()">
                                    <img src="../../../../../assets/icons/plus.svg" alt="" height="12x">
                                    </div>
                                </div>
                            </div>
                            <div class="card-data spacer-in-left-lg spacer-out-bottom-md" *ngIf="!gridView">
                                <div class="card-body" *ngFor="let child of segment.children; index as i">
                                    <p class="text-sm"> <img src="../../../../../../assets/icons/segment-icon.svg" height="12px"/> {{child.name}} </p>
                                </div>
                                <div class="card-body flex-row" (click)="openTableModal()">
                                    <div class="icon">
                                    <img src="../../../../../assets/icons/plus.svg" alt="" height="8x">
                                    </div>
                                    <div class="text-sm spacer-in-xs">
                                    Add a table
                                    </div>
                                </div>
                            </div>
                       </div>
                  </div>
                </div>
        </div>
    </div>
</div>